body {
    padding: 0;
    margin: 0;
}
html, body, #carte {
    height: 100%;
    width: 100vw;
}

/* filelayer */
.leaflet-control-filelayer .icon {
    max-width: 70%;
    max-height: 70%;
    margin: 4px;
    font-size: 8px;
}

/* graph / plotly.js */
#graph {
    z-index:799;
    position:absolute;
    top: 10px;
    left: 60px;
    right: 75px;
    height:150px;
    background-color: white;
    opacity: 0.95;
    display: none;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#vitesses {
    z-index:799;
    position:absolute;
    top: 162px;
    left: 60px;
    right: 75px;
    height:30px;
    background-color: white;
    opacity: 0.95;
    display: none;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    line-height: 15px;
    font-size: 0.66em;
    padding-left: 10px;
}

#infos {
    z-index:799;
    position:absolute;
    bottom: 47px;
    right: 10px;
    background-color: white;
    opacity: 0.95;
    display: none;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    font-size: 0.65em;
    padding: 2px;
}

#ascendances {
    position: absolute;
    bottom:47px;
    left: 60px;
    width: 500px;
    height: 300px;
    z-index: 799;
    border: 2px solid rgba(0,0,0,0.2);
    opacity: 0.95;
    border-radius: 4px;
    background-color: white;
    display: none;
}

.leaflet-igcdetails {
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-family: serif;
}
.leaflet-igcdetails a {
    color: #777;
}
.leaflet-igcdetails a.active {
    color: #000;
}
